<section class="harvest">
    <div class="container">
        <h2 class="harvest-title">Fresh Harvest Box has got you covered</h2>
        <p class="harvest-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking
            to eat healthier or
            support local
            farmers. Order your box today and start enjoying the best that nature has to offer!
        </p>
        <div class="harvest-form">
            <form class="harvest-form">
                <label class="harvest-label">
                    <input class="input-harvest" type="tel" name="tel" placeholder="+ 380 () ">
                </label>
                <button type="submit" class="harvest-btn">Recall</button>
            </form>
        </div>
        <div class="harvest-img">
            <img srcset="../img/harvest/harvest-girl-min.jpg 1x, ../img/harvest/harvest-girl.jpg 2x"
                src="../img/harvest/harvest-girl-min.jpg" alt="girl" width="525" height="500">
        </div>
    </div>
</section>